# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Rabitz\Desktop\rabitz808\meteor-mongo-practice\.idea/dataSources/
/dataSources.local.xml
